		body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #046A38;
            color: white;
        }
        .input-box {
            margin: 20px 0;
            padding: 10px;
            font-size: 16px;
            width: 200px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            color: white;
        }
        button:hover {
            background-color: #45a049;
        }
        .reset-button {
            background-color: #f44336;
        }
        .reset-button:hover {
            background-color: #e53935;
        }
        .error {
            color: red;
            font-size: 14px;
            margin-top: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        h1, h2 {
            text-align: center;
        }
        .no-results {
            text-align: center;
            color: #555;
        }
